# # Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

 sv_forceIndirectListing true
 sv_listingHostOverride "172.65.216.79:9497"
 sv_listingIpOverride "172.65.216.79:9497"
 sv_proxyIPRanges "173.245.48.0/20 103.21.244.0/22 103.22.200.0/22 103.31.4.0/22 141.101.64.0/18 108.162.192.0/18 190.93.240.0/20 188.114.96.0/20 197.234.240.0/22 198.41.128.0/17 162.158.0.0/15 172.64.0.0/13 131.0.72.0/22 104.16.0.0/13 104.24.0.0/14"


# Database connection string
set mysql_connection_string "mysql://erp:$Dpro381998@localhost/erp?charset=utf8mb4"
set gametype "ROLEPLAY"
set mysql_ui true
# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1


# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget false

# These resources will start by default.

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure xsound

# QBCore & Extra stuff

ensure qb-core
ensure zdiscord
ensure qb-target
# ensure PRO-coke

ensure [erp]
ensure [edited]
ensure [standalone]
ensure [voice]
ensure [pro]
ensure [aryan]
ensure [assets]
ensure [zlastresource]
ensure [antidump]
ensure [WaveShield]
# ensure [manualstream]




# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# - sets tags "roleplay, military, tanks"
sets tags "Indian, ERP, Blacklisted, Car Boosting, Businesses with ingame money, Exclusive MLOs, Exclusive EDM Vehicles, Gangs, Bharat, Legacy, India-Bangladesh-Nepal-Pakistan"
sets banner_detail "https://cdn.discordapp.com/attachments/935156844077400144/981629528390660126/FIVEMBGV.gif"
sets banner_connecting "https://cdn.discordapp.com/attachments/935156844077400144/981629529078521956/connectingbanner.gif"
# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "en-IN"
sets Discord "https://discord.io/elapsedrp"
sets Website "https://www.elapsedrp.cf"
sets Developer "SubhamPROYT#3729"
sets NetworkSecurity "SubhamPROYT#4771"
sets Server-Status "Online"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname. This is not usually shown anywhere in listings.
sv_hostname "^1Elapsed ^7Roleplay ^2India〢^0BLACKLISTED〢^5HIGH FPS〢^8LOW PING〢^0Recently Wiped〢Ingame Money Businesses〢^2India - ^7Pakistan  - ^5Bangladesh - ^8Nepal〢^6Discord https://discord.gg/RCrVd2HPfA" 
# Set your server's Project Name

sets sv_projectName "^1Elapsed ^7Roleplay ^2Made In Bharat"
# Set your server's Project Description
sets sv_projectDesc "〢Blacklisted〢Car Boosting〢High FPS〢Easy Grind〢Quality RP〢Exclusive Mlos〢Ingame Money Businesses〢Good economy〢Gangs〢Active PD"


# hypnonema
add_ace group.admin hypnonema allow
add_ace qbcore.god hypnonema allow
add_ace builtin.everyone hypnonema.playback allow


# zdiscord
add_ace resource.zdiscord command allow
add_ace group.zdiscordstaff zdiscord.staffchat allow


# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
# sv_master1 ""

## Permissions ##

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands
# SQL
add_ace identifier.steam:110000137972c5f mysql allow #subham
# Inheritance
add_principal qbcore.god group.admin # Error proof
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
#add_principal identifier.{{principalMasterIdentifier}} qbcore.god <- doesn't exist yet, change the generated one below to qbcore.god
 # add_principal identifier.fivem:6798473 qbcore.god #Elapsed_Roleplay
 add_principal identifier.fivem:3487354 qbcore.god #aryanofficial
 add_principal identifier.steam:110000137972c5f qbcore.god #subham
 add_principal identifier.steam:110000148723f46 qbcore.god #aryan
  add_principal identifier.license:17e402c1c6800bb091cf3299448cf29cf22974c2 qbcore.god #aryan
 
# EASY ADMIN

 add_principal identifier.steam:1100001447f4eda group.admin #Abhilash
 add_principal identifier.steam:11000013eab114a group.admin #King 
 add_principal identifier.steam:1100001478e108f group.admin #Abel Thomas
 add_principal identifier.steam:11000014900e6d2 group.admin #hitharth 
 add_principal identifier.license:c80a444678e56b670c058a3ba7d051b4b66c5307 group.admin #ADITYA
 
 
# Hypnonema
add_principal identifier.steam:110000137972c5f "command.hypnonema" #subham


# enable OneSync (required for server-side state awareness)
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on

# Game Build
set sv_enforceGameBuild 2612

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 48

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey B20FB885A849A6EEFB59C7DB4F7D1329
# License key for your server (https://keymaster.fivem.net)
 sv_licenseKey "cfxk_14dCMgIEc1lxxDQMbiwKF_tqhn6"
# sv_licenseKey  "cfxk_ZbOctobFrxVwXJEdM3kE_dCccb"


#Easy Admin
add_ace group.admin easyadmin allow
setr ea_LanguageName "en"                # SET YOUR LANGUAGE
#setr ea_MenuButton "208"            # KEY TO OPEN MENU (PAGE UP)
setr ea_alwaysShowButtons "false"    
set ea_moderationNotification "https://discord.com/api/webhooks/961616668654702603/rWdsWz1hxLej3mW4G-pMorUtjd7kt946wh31nwl-DiFTCu1zAV1kJRUcrA0hy71F4Gci" # DISCORD WEEBHOOK FOR LOGS
setr ea_screenshotfield "files[]"
set ea_custombanlist "false"   
set ea_enableCallAdminCommand "true" # ENABLE "CALLADMIN"
set ea_enableReportCommand "true" # ENABLE "REPORT"
setr ea_MenuButton "f10"

exec easyadmin_permissions.cfg


add_ace resource.EasyAdmin command.add_ace allow
add_ace resource.EasyAdmin command.remove_ace allow
add_ace resource.EasyAdmin command.add_principal allow
add_ace resource.EasyAdmin command.remove_principal allow


add_ace identifier.license:e8af5ac87a3e5abc554caf209660ba52235fdc62 "waveshield.menu" allow ##Line Generated By WaveShield